$react-read-more-options:(
  gap: 5px
)!default;

.react-read-more{

  $gap: map-get($map: $react-read-more-options, $key: gap);

  &-wrapper{
    overflow: hidden;
  }

  &-actions{
    margin-top: $gap;
    width:100%;
  }

  &[data-expanded=true]{
    .react-read-more-wrapper{
      max-height: 10000px !important;
    }

    [data-collapseable=false]{
      display: none;
    }
  }
}
